.search-container {
    position: relative;
    margin: 0 20px;
    width: 40%;
}

.search-input {
    padding: 10px 15px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #e6e0ff;
    font-size: 16px;
    outline: none;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #65558F;
}