.tweets-category {
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    background-color: #f0eded;
}

.tweet-list {
    height: 300px;
    overflow-y: auto;
}

.tweet {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.stats-button {
    margin-top: 20px;
}

.tweet-category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.positive-text {
    color: #66cc66;
}

.negative-text {
    color: #ff6666;
}

.neutral-text {
    color: #4cafdd;
}